/* Moniker Photography */
#header{
    text-align: center;
    font-family: sans-serif;
    font-size: 120%;
    color: #333333;
    cursor: pointer;
    background-color: white;
}   
 
#wrapper{
    max-width: 1140px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
 
#nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: #D6D6D6;
    color: #333333;
    width:100%;
}
 
#nav a{
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    color: #333333;
}
 
#nav a:hover {
    padding: 10px;
    color: #FFFFFF;
    background-color: #D6D6D6;
}
 
 
#body{
    font-family: sans-serif;
    font-size: 120%;    
    background-color: #D6D6D6;
    color: #333333;
}
 
#main{
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 2em;
}

form{
    width: 100px;
    margin: 0 auto;
    align-content: center;
}
    
}

.floatleft {
            float: left;
            margin-right: 4em;
}

p{
    font-family: "Helvetica";
    font-weight: lighter;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.homebanner{
    background-image: url(../images/homepage1.jpg);
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.text2{
    padding: 70px;
    background-color: #D6D6D6;
    position:absolute;
    font-family: sans-serif;
    text-align:center;
    margin: 110px 210px;
    border-radius: 15px;
}



/*Images that lead to other pages*/

.container {
    padding: 10px;
    position: relative;
    width: 31.5%;
    overflow: hidden;
    float: left;
    margin-bottom: 0.5em;"
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #333333;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.text a{
    color: white;
    text-decoration: none;
}

/*footer style*/

#footer{
    padding: 15px;
    font-size: 80%;
    font-family: sans-serif;

    display: block;
    text-align: center;
    color: #333333;
    clear: both;
    background-color: #D6D6D6;
}

#footer a{
    color: #333333;
    text-decoration: none;
}
